# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/

# testing
coverage/

# builds
dist/
build/

# misc
.DS_Store
.env
.env.development
npm-debug.log*
yarn-debug.log*
yarn-error.log*
Purchase Data.xlsx
Plan.md

# IDE
.idea/
*.iml
.vscode/
